a {
  text-decoration: none;
  color: rgb(34, 53, 72);
}
.navContainer {
  width: 280px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #aaa;
  display: flex;
  flex-direction: column;
}
.title {
  width: 100%;
  padding: 25px 0;
  margin: 0;
  text-align: center;
  font-size: 26px;
  color: rgb(34, 53, 72);
}
.listContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  list-style: none;
  li:not(.subTitle) {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background-color: rgb(221, 224, 229);
      font-weight: 600;
    }
    span {
      margin-right: 10px;
    }
  }
  .subTitle {
    font-size: 12px;
    color: rgb(88, 109, 129);
    padding: 10px 0;
  }
}
.active {
  background-color: aquamarine;
  font-weight: 600;
}

.footer {
  width: 100%;
  background-color: rgb(233, 236, 239);
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: cadetblue;
  }
  dl {
    margin: 0 0 0 15px;
    dt {
      color: rgb(34, 53, 72);
      font-weight: 600;
    }
    dd {
      font-size: 12px;
      color: rgb(88, 109, 129);
      margin: 0;
    }
  }
}
